<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.notification.title}">Su plano fue revisado!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Estimado
        </p>
        <p>
            Para poder observar estos cambios, ingrese en la seccion de "Estado de Planos"
        </p>
        <p>
        </p>
        <p>
            <span>Saludos</span>
            <br/>
            <em>© Equipo de Desarrollo de Sistemas. Municipalidad de Gral. San Martín</em>
        </p>
    </body>
</html>
