
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContactoProfesionalLabel" data-translate="Crear contacto Profesional">Create or edit a Contacto Profesional</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contactoProfesional.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contactoProfesional.id" readonly />
        </div>
        <div class="form-group">
            <label data-translate="obrasPrivadas4App.contactoProfesional.profesional" for="field_profesional">Profesional</label>
            <select class="form-control" id="field_profesional" name="profesional" ng-model="vm.contactoProfesional.profesional" ng-options="profesional as profesional.usuario.login for profesional in vm.profesionals track by profesional.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="obrasPrivadas4App.contactoProfesional.tipoContacto" for="field_tipoContacto">Tipo Contacto</label>
            <select class="form-control" id="field_tipoContacto" name="tipoContacto" ng-model="vm.contactoProfesional.tipoContacto" ng-options="tipoContacto as tipoContacto.descripcion for tipoContacto in vm.tipocontactos track by tipoContacto.descripcion">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="obrasPrivadas4App.contactoProfesional.descripcion" for="field_descripcion">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.contactoProfesional.descripcion"
                    />
        </div>

        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
