
<div>
    <h2><span data-translate="obrasPrivadas4App.planoDetalle.detail.title">Plano Detalle</span> {{vm.planoDetalle.id}}</h2>
    <hr>
    
    <h5><b>Tipo plano: </b><span>{{vm.planoDetalle.tipoPlano.descripcion}}</span></h5>
    <h5><b>Estado: </b><span>{{vm.planoDetalle.estado}}</span></h5>
    <h5><b>Revisado por: </b><span>{{vm.planoDetalle.tramitesDTO.archivos[0].operador}}</span></h5>
    
  
   <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>Fecha de modificación</span></th>
                    <th><span>Observaciones</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tramite in vm.planoDetalle.tramitesDTO">
                    <td>{{tramite.id}}</td>
                    <td>{{tramite.fechaFin | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td class="text-right">
                       <a ng-click="vm.openFile(tramite.archivos[0].archivoContentType, tramite.archivos[0].archivo)">
                                <button type="button" class="btn btn-info">Abrir <span class="glyphicon glyphicon-file"></span></button>
                            </a>    
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

   <button type="submit"
            ui-sref="plano-detail({id:vm.planoDetalle.plano.id})"
            class="btn btn-info"> 
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
   </button>
</div>
